*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: #63738A;
}

.container{
    width: 600px;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 30px;
    text-align: center;
    margin-top: 30px;
}

.line{
    background-color: #555;
    width: 200px;
    height: 3px;
    display: inline-block;
    margin-bottom: 7px;

}

.liner h1{
    display: inline-block;
    text-transform: capitalize;
    font-weight: 300;
    color: #555;
}

.comment{
    color: #555;
    margin: 30px 0;
}

form{
    display: block;
}

.input{
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 10px;
    display: block;
    width: 90%;
    margin: 30px;
    box-sizing: border-box;
    outline: none;
}

.input1{
    margin: 0 0;
    width: 43%;
    display: inline-block;
}

.left{
    margin-left: 10px;
}

.right{
    margin-right: 10px;
}

.checked{
    text-align: left;
    margin-left: 30px;
    color: #666;
}

.checked span {
    color: green;
}

.btn{
    display: block;
    width: 90%;
    padding: 15px;
    text-align: center;
    background-color: green;
    color: white;
    text-transform: capitalize;
    font-weight: 700;
    margin: 30px;
    border-radius: 5px;
    border: 1px solid green;
    font-size: 16pt;
    cursor: pointer;
}

.sign-in{
    width: 600px;
    margin: 0 auto;
    padding: 30px;
    color: white;
    text-align: center;
}

.sign-in a{
    color: white;
}